div{
    border: 2px solid;
    border-radius: 8px;
    font-size: 20px;
    width: 450px;
    height: 500px;
    padding: 20px;
    margin: 0px auto 0;
    background-color: white;
    border-color: grey;
    
}

body{
   
}

#image{
    height: 85px;
 width: 160px;
 padding-left: 150px;
 
}
h1{
    font-family: 'Barlow', sans-serif;
    text-align: center;

}
#ch{
    font-family: 'Barlow', sans-serif;
    padding-top: -30px;
    text-align: center;
}
#bar{
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
}
#forgot{
     text-decoration: none;
     color: #1a73e8;
     letter-spacing: .25px;
}
#learn{
    text-decoration: none;
    color: #1a73e8;
}
#create{
    text-decoration: none;
    color: #1a73e8;
}
#next{
    padding-left: 200px;
    
}
button{
    background-color: #1a73e8;
    border-radius: 8px;
    transition-duration: 0.9s;
    color: white;
    border: none;
    outline: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
}
button:hover{
    background-color: #1a73e8;
}
button:hover{
    background-color: #287ae6;
}

